
html, body {
    margin: 0;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    background-color:#343434 !important;
}

div {
    display: none; 
}

#playervsplayer, #playervscomputer, #choosegame {
    padding-top: 10%;
    margin: 0 auto;
    text-align: center;
}

.grid {
    
    display: flex;                       /* establish flex container */
    flex-wrap: wrap;                     /* enable flex items to wrap */
    width: 700px;
    margin: auto;
    margin-top: 5%;
    
    
  }
  .cell {
    height: 200px;
    display: inline-block;
    flex: 0 0 32%;                       /* don't grow, don't shrink, width */
    border: 3px solid black;
    background-color: orange;
  }

  #popup {

      width: 400px;
      height: 400px;
      border: 3px solid orange;
      background-color: #343434;
      color: white;
      position: absolute;
      text-align: center;
      margin-top: 3%;
      margin-left: auto;
      margin-right: auto;
      left: 0;
      right: 0;
      opacity: 90%;
      justify-content: center;
      align-items: center;


  }
#close {
    width: 50px;
    height: 50px;
    right: 3px;
    top: 3px;
    position: absolute;
}
#scores {
    display: flex;
    margin: auto;
    width: 100px;
    text-align: center;
    color: white;
}